
.modalhidden{
   display: none;
}
.scrol{
   overflow-x: hidden;
}
.modal {
   padding-right: 10px;
   z-index: 1000;
   position: absolute;
   width: 100%;
   height: 100%;
   
   bottom: 0;
   right: 0;
   left: 0;
   background: #202020;
}
.modal__title {
   margin-top: 5px;
   font-style: normal;
   font-weight: 400;
   font-size: 70px;
   line-height: 70px;
   text-transform: uppercase;
   color: #FFFFFF;
}
.modal__city {
   margin-top: -30px;
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 36px;
   color: #CBCBCB;
}
.modal__map {
   margin-top: -10px;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   color: #616161;
}
.modal__form {
   position: relative;
   margin-top: 30px;
   max-width: 487px;
}
.modal__form-flexbox {
   display: flex;
   justify-content: space-between;
}
.form-flexbox__colum {
   &:first-child{
      margin-right: 20px;   
   }
   &:last-child{
      margin-left: 20px;
   }
}
.modal__form-item{
   width: 100%;
   margin-bottom: 15px;
   padding-left: 10px;
   padding-top: 13px;
   padding-bottom: 13px;
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 18px;
   color: #CBCBCB;
   border: 1px solid #404040;
   background: none;
}
.modal__form-message {
   resize: none;
}
.modal__form-button {
   position: absolute;
   right: 0;
   bottom: -50px;
   padding: 9px 24px;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   text-transform: uppercase;
   color: #FFFFFF;
   border: 1px solid #BFE55E;
   border-radius: 30px;
   background: none;
}
.modal__media {
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 48px;
   color: #CBCBCB;
}
.modal__links {
   margin-top: -10px; 
}
.modal__link {
   display: block;
   font-weight: 400;
   font-size: 30px;
   line-height: 36px;
   color: #CBCBCB;
   text-decoration: none;
}
@media (max-width: 950px){
   .modal__title {
      margin-top: 5px;
      font-size: 50px;
      line-height: 60px;
   }
}
@media (max-width: 700px){
   .modal__title {
      margin-top: 5px;
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 40px;
   }
   .modal__city {
      margin-top: -30px;
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 10px;
   }
   .modal__map {
      margin-top: -10px;
      font-size: 20px;
      line-height: 24px;
   }
   .modal__media {
      font-size: 30px;
      line-height: 25px;
   }
   
   .modal__link {
      font-size: 20px;
      line-height: 18px;
   }
}
@media (max-width: 550px){
   .modal__title {
      margin-top: 5px;
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 40px;
   }
   .modal__city {
      margin-top: -30px;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
   }
   .modal__map {
      margin-top: -10px;
      font-size: 15px;
      line-height: 18px;
   }
   .modal__media {
      font-size: 20px;
      line-height: 25px;
   }
   .modal__links {
      margin-top: -10px;
      
   }
   .modal__link {
      font-size: 15px;
      line-height: 18px;
   }
}