
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');
::-webkit-scrollbar {
   width: 5px;
}
::-webkit-scrollbar-thumb{
   height: 250px;
   border-radius: 5px;
   background: #BFE55E;
}
body{
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 400;
   margin: 0;
   background: #202020;
}
.container{
   margin: 0 auto;
   padding: 0 10px;
   max-width:  1270px;
}
@media (max-width: 550px){
   .container{
      padding: 0 5px;
   }
}


