@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap");
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  height: 250px;
  border-radius: 5px;
  background: #BFE55E;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  background: #202020;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1270px;
}

@media (max-width: 550px) {
  .container {
    padding: 0 5px;
  }
}
.hidden {
  display: none;
}

.burger__menu {
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.nav__bar {
  margin-top: -1px;
  position: relative;
  /* z-index: 2; */
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  background-color: #202020;
}

.nav__logo {
  margin-bottom: 9px;
  text-decoration: none;
  color: #fff;
  font-size: 50px;
  overflow: hidden;
  position: relative;
  z-index: 30;
  align-items: center;
  margin-top: 10px;
}

.nav__list {
  display: flex;
  position: relative;
  z-index: 3;
}

.nav__list li {
  list-style: none;
  margin-left: 40px;
}

.nav__list li:first-child {
  margin-left: 0;
}

.nav__link {
  cursor: pointer;
  background: #202020;
  padding: 9px 26px;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #F3FFCE;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover {
  transition: all 0.3s ease;
  color: #BFE55E;
}

.burger__logo {
  margin: 0 auto;
  margin-top: 40px;
  width: 240px;
  display: block;
}

.burger__menu-list {
  margin-left: -40px;
  margin-top: 60px;
  text-align: center;
}

.burger__menu-item {
  margin-bottom: 50px;
}

.burger__menu-link {
  max-width: 115px;
  width: 115px;
  padding: 9px 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #202020;
  border: 1px solid #202020;
  border-radius: 30px;
}

.burger__menu-under {
  position: absolute;
  bottom: 20px;
  padding: 0 20px;
  width: 95%;
}

.menu-under__line {
  content: "";
  height: 1px;
  width: 100%;
  background: #202020;
}

.burger__menu-under-list {
  margin-top: 0px;
  margin-left: -40px;
  display: flex;
  justify-content: space-between;
}

.burger__menu-under-item {
  margin-right: 0px;
}
.burger__menu-under-item:last-child {
  margin-right: 0px;
}

.burger__menu-under-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
}

@media (max-width: 1000px) {
  .nav__link {
    padding: 7px 20px;
    font-size: 16px;
  }
  .nav__list li {
    margin-left: 30px;
  }
}
@media (max-width: 550px) {
  .burger__menu-under {
    width: 92%;
  }
}